body{
    font-family: sans-serif;
    font-size: 1.5em;

}
ul{
    /*selectionne toutes les listes <ul> */
    list-style: none; /*supprime les puces*/
    float:  left; /*effet flottant a gauche */
    margin: 0; /*marge exterieur*/
    padding: 0; /*marge interieur*/

}
.left, .right{
    margin-top: 5em; /*EMMET => mt5em +tab */

}
.left ul{
    /*les <ul> qui ont un parent diect avant la classe .left */
    margin: 3.2em 0 0 0;
}
.left ul li {
    /* tous les <li> de la liste <ul> ayant la classe.left en parent*/
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc; /*emmet => bl + tab*/
    padding: 1em;
    width: 10em;


}
.left ul li:first-child{
    /* le 1er <li> uniquement*/

}
/*=====FIN DE 1ERE COLONNNE====*/
ul.liste.li{ /* tous les <li> de la liste <ul> qui a la classe.liste*/
    border-left: 1px solid #ccc; /*bordure qui ferme la 1ere colonne*/
}
.right .change ul li{
    /* tous les <li> de la liste <ul> ayant la classe .change elle meme enfant de la class.right*/
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1em;
    width: 10em;
    text-align: center;

}
.right .change ul li:first-child{
    background-color: #5d5d5d;
    color: #ffff;
    font-weight: bold; /*epaisseur de la police*/

}
.right .change ul li:last-child{
    /* dernier <li> */
    border-bottom: 1px solid #ccc;
}
/*=======FIN MISE EN FORME DU TABLEAU ====*/
/*======= EFFETS DE TRANSITION AU SURVOL DE LA SOURIS :hover===*/
.right .change ul:hover{

    background: linear-gradient(#5d5d5d, #8a8a8a); /* degradé de haaut en bas */
    cursor: pointer; /*change l'aspect du curseur*/
    transform: scale(1.4); /*transform applique un effet 2d et scale() correspond a l'echelle du zoom ainsi obtenu par rapport a la taille d'origine*/
    transition-duration: 2s; /*duree de l'animation */

}
.right .change ul:hover li:first-child{
    background-color: #000;
}
/*======FIN======*/