body{
    width: 50%;
    margin: 0 auto;
}
table{
    margin: 25px;
    border-collapse: collapse;
}
td {
    height: 20px;
    width: 20px;
}
.jaune{

    background-color: yellow;

}
.gris{
    background-color: gray;

}
.noir{
    background-color: black;
}
.bleu{
    background-color: blue;
}