body{
    font-size: 25px; /* taille de police en pixels */
}

h1 {
    background-color: darkblue;
    color: white;

}

/* j cible tous ls <p> qui sont dans la balise section */
section p {
    color: red;
}
/* le premier <p>*/
section p:first-child {
    color: palegreen;
}
/* le dernier <p>*/
section p:last-child{
    color: oldlace;

}
/* les <p> pairs */
section p:nth-child(even) {
background-color: mediumslateblue;

}
/* les <p> impairs */
section p:nth-child(odd){
    color: red;

}
/* les <p> 3 et 10 */
section p:nth-child(3), section p:nth-child(10){
    background: coral;
}
/* je cible une classe avec un point . */
.zone1{
    color: blueviolet;


}.zone2{
    color: aqua;
}
.lime{
    color: brown;
}
/* je cible un ID avec # */
#zone3 {
    background-color: violet; /* EMMET poue background-color => bgc + tab */

}
/* ajouter du contenu AVANT */
#zone3:before{
content: "rajouteé AVANT";
background-color: cyan;


}
/* ajouter du contenu APRES */
#zone3::after {
    content: "rajouté APRES";
}
/*2eme puce de la liste */
li:nth-child(2){
    background-color: darkred;
    color: darkgoldenrod;
}