body{
    width: 80px;
    margin: 0 auto;
    background-color: bisque;
}

header{
    background-color: aqua;
    height: 112px;
    width: 551px;
}
nav{
    background-color: blueviolet;
    height: 38px;
    width: 550px;
}

.section1{
    background-color: greenyellow;
    width: 550px;
    height: 100px;
}
.section2{
    background-color: firebrick;
    width: 552px;
    height: 100px;
}

